<!-- <div cdkDrag>
  Drag me around
</div> -->

<!-- <div cdkDrag>
  <div cdkDragHandle>Drag me around</div>
</div> -->

<!-- <div cdkDropList>
  <div cdkDrag *ngFor="let item of items">
    {{item}}
  </div>
</div> -->

<!-- <h2>To do</h2>
<div class="container" cdkDropList id="todo" [cdkDropListConnectedTo]="['done']" [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
  <div class="item" cdkDrag *ngFor="let item of todo">{{item}}</div>
</div>

<h2>Done</h2>
<div class="container" cdkDropList id="done" [cdkDropListConnectedTo]="['todo']" [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
  <div class="item" cdkDrag *ngFor="let item of done">{{item}}</div>
</div> -->

<!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
  <div class="example-box" *ngFor="let item of array" cdkDrag>
    <div *ngIf="item==0">one</div>
    <div *ngIf="item==1">two</div>
    <div *ngIf="item==2">3</div>
  </div>
</div>
<pre>
{{array|json}}
</pre> -->

<!-- <div cdkDropList class="example-list"> -->

<!-- <div class="container mt-5 pt-5">
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="horizontal"
    class="example-list"
  >
    <div cdkDrag *ngFor="let item of items" class="example-box">
      <div class="card">
        <img [src]="item.src" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.id }}</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-5 pt-5">
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="horizontal"
    class="row"
  >
    <div cdkDrag *ngFor="let item of items" class="col-md-3 mb-3">
      <div class="card">
        <img [src]="item.src" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.id }}</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container mt-5 pt-5">
  <ul cdkDropList (cdkDropListDropped)="drop($event)" class="">
    <li cdkDrag *ngFor="let item of items" class="col-md-3 mb-3">
      <div class="card">
        <img [src]="item.src" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.id }}</h5>
        </div>
      </div>
    </li>
  </ul>
</div> -->

<!-- <div class="container mt-5 pt-5">
  <div class="row">
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="vertical"
      class="col-md-4 offset-md-4"
    >
      <div class="card mb-3" cdkDrag *ngFor="let item of items">
        <img [src]="item.src" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.id }}</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-5 pt-5">
  <div class="text-center mb-5">
    <img
      class="mb-3"
      width="100"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />

    <h1>Angular - Drag and drop - order list</h1>
  </div>

  <div class="row">
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="vertical"
      class="col-md-4 offset-md-4"
    >
      <!-- <div class="card mb-3" cdkDrag *ngFor="let item of items">
        <img [src]="item.src" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.id }}</h5>
        </div>
      </div> -->

      <div
        class="card text-bg-dark mb-5"
        cdkDrag
        *ngFor="let item of items; index as i"
      >
        <img [src]="item.src" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <div class="row mb-1">
            <div class="col-md-6 text-start">
              <button class="btn btn-dark">
                <b>Id: {{ item.id }}</b>
              </button>
            </div>
            <div class="col-md-6 text-end">
              <button class="btn btn-primary">
                <b>Order: {{ i + 1 }}</b>
              </button>
            </div>
          </div>

          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
           -->
        </div>
      </div>
    </div>
  </div>
</div>
